.container {
  width: 88.6%;
  max-width: 1240px;
  margin: 0 auto;

  &--flex {
    display: flex;
    flex-wrap: wrap;
  }

  &--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 44px;
    grid-row-gap: 75px;

    width: 92%;
    max-width: 1288px;
    padding-left: 30px;
  }
}

@media (max-width: @tablet-width) {
  .container {
    width: 84.4%;
  }
}

@media (max-width: @tablet-min-width) {
  .container {
    &--grid {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
      grid-row-gap: 50px;

      width: 84.4%;
    }
  }
}

@media (max-width: @mobile-width) {
  .container {
    width: 87.5%;

    &--flex {
      width: 280px;
      justify-content: space-between;
    }

    &--grid {
      grid-row-gap: 30px;

      width: 87.5%;
    }
  }
}
