.content__slogan {
  display: block;
  width: 462px;
  margin-bottom: 21px;

  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: @text-primary-dark;
}

.content__text {
  width: 505px;
  margin: 0 0 8px;

  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  color: @text-primary-dark;
}


